.root{
-fx-background-color: #18488f;
}

.label{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-font-size: 20px;
-fx-letter-spacing: 6px;
-fx-text-align: left;
}

#cbCompetition .label {
-fx-background-color:  WHITE;
-fx-text-fill: black;
-fx-font-family: "Segoe UI";
-fx-font-size: 13px;
}

#btnDeleteGame{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 20px;
}

#btnAddGame{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 20px;
}
