.root{
-fx-background-color: #18488f;
}

.label{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-font-size: 20px;
-fx-letter-spacing: 6px;
-fx-text-align: left;
}

#btnDeleteGame{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 20px;
}

#btnEditCustomer{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 15px;
}