.root{
-fx-background-color: #18488f;
}

#btnConfirmBuy{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 15px;
}

#lbPrice{
-fx-font-size: 30px;
-fx-letter-spacing: 6px;
-fx-text-align: left;
}

.label{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-font-size: 20px;
-fx-letter-spacing: 6px;
-fx-text-align: left;
}

#btnCancel{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #f50a60;
-fx-font-size: 15px;
}

#rbVisa{
-fx-background-color: white;
}

#cbStand .label {
-fx-background-color:  WHITE;
-fx-text-fill: black;
-fx-font-family: "Segoe UI";
-fx-font-size: 13px;
}