.root{
-fx-background-color: #18488f;
}

#btnBuyTicket{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 25px;
}

#btnEditProfile{
-fx-font-family: "Georgia";
-fx-text-fill: white;
-fx-background-color: #1877f2;
-fx-font-size: 15px;
}

#btnFilterList{
-fx-font-family: "Georgia";
-fx-text-fill: black;
-fx-background-color: yellowgreen;
-fx-font-size: 15px;
}

#btnRemoveFilters{
-fx-font-family: "Georgia";
-fx-text-fill: black;
-fx-background-color: lightpink;
-fx-font-size: 15px;
}

.table-row-cell{
-fx-background-color: white;
-fx-font-family: "Georgia";
-fx-font-size: 15px;
-fx-text-fill: yellowgreen;
}

.table-row-cell:hover {
-fx-background-color: #25a3ff;
-fx-text-fill: white;
}

.table-row-cell:selected{
-fx-background-color: #1877f2;
-fx-text-fill: white;
}

.wronginput{
-fx-background-color:lightpink;
}

.correctinput{
-fx-background-color:yellowgreen;
}